<?xml version="1.0"?>
<launch>
  <!-- Point cloud file path -->
  <arg name="pcd_file_path" default="/root/shared_dir/LIO-SAM/shangpo2map0.01/GlobalMap.pcd"/>
  <arg name="resolution" default="0.1"/>
  
  <!-- Static transform publisher for visualization -->
  <node pkg="tf" type="static_transform_publisher" name="map_to_base_link" 
        args="0 0 0 0 0 0 map base_link 100" />
  
  <!-- Process global map node -->
  <node pkg="slope_costmap_layer" type="process_global_map" name="process_global_map" output="screen">
    <param name="pcd_file_path" value="$(arg pcd_file_path)"/>
    <param name="resolution" value="$(arg resolution)"/>
  </node>
  
  <!-- RViz for visualization -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find slope_costmap_layer)/rviz/slope_visualization.rviz"/>
</launch> 